@import (reference) '~antd/es/style/themes/index';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}

.typeit {
  width: 520px;
  margin: 10px auto;
  font-size: 20px;
  font-family: cursive;
  text-align: left;
  transition: all 0.5s;
}

.numberStyle {
  line-height: 0;
  text-align: center;

  :global {
    .lightd-numberRoll-animate {
      font-size: 22px;
    }

    .lightd-numberRoll-animate-dom {
      width: 13px;
    }

    .lightd-numberRoll-animate-dom-del {
      width: 10px;
    }
  }
}
