.numberStyle {
  display: flex;
  align-items: center;

  :global {
    .lightd-numberRoll-animate {
      height: 40px;
      font-size: 15px;
    }

    .lightd-numberRoll-animate-dom {
      width: 9px;
      color: #fff;
    }

    .lightd-numberRoll-animate-dom-del {
      width: 6px;
    }
  }
}
