.tags_wrapper {
  :global {
    .ant-tabs-nav {
      margin-bottom: 24px;
    }

    .ant-tabs-tab-remove {
      display: flex;
    }
  }

  .contextmenu {
    position: fixed;
    z-index: 3000;
    margin: 0;
    padding: 5px 0;
    color: #333;
    font-weight: 400;
    font-size: 12px;
    list-style-type: none;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);

    li {
      margin: 0;
      padding: 2px 16px;
      line-height: 24px;
      cursor: pointer;

      &:hover {
        background: #eee;
      }
    }
  }

  .dropdown_content {
    background: #fff;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
      0 9px 28px 8px rgb(0 0 0 / 5%);

    .ant-dropdown-menu {
      box-shadow: none;
    }
  }
}

.tabs_full {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden auto;
  transition: all 0.2s linear;

  :global {
    .ant-tabs-nav {
      height: 0 !important;
      overflow: hidden;
    }
  }
}
